<ion-content >
  <div class="padd">
    <div class="logo">
        <ion-icon color="light" name="create-outline"></ion-icon>

    </div>
          <ion-item lines="none">
              <ion-text color="light"  class="ion-text-center"  fill="clear" >Vous n'arrivez pas a vous connecter ?</ion-text>
          </ion-item>
          <ion-item>
            <ion-input type="email" color="light" placeholder="Adresse email"></ion-input>
          </ion-item>
          
              <ion-button expand="block" shape="round" >Lien de récuperation</ion-button> <br>
          
              <div class="BEnd"> 
                  <ion-item  lines="none">
                      <ion-button routerLink="/home"  fill="clear"  >Revenir à la connexion</ion-button>
                  </ion-item>
              </div>

        </div>
  
</ion-content>
