<ion-header>
  
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/intro"></ion-back-button>
          </ion-buttons>
      <ion-searchbar [(ngModel)]="searchTitle"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button color="light" (click)="searchMovie()">
          <ion-icon name="search-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
      <ion-list>
        <ion-card *ngFor="let list of myliste">  
            <ion-item shape="round"  lines="none">
               <ion-label>
                {{ list.email}}
              </ion-label>
              <ion-button shape="round" slot="end" (click)="Addproject(list)">
                <ion-icon slot="icon-only" name="add" ></ion-icon>    
            </ion-button>
            
            </ion-item>
          </ion-card>
    </ion-list> 

    
</ion-content>
